<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Student Name: <input type="text" name="pirates[name]">
  Student Height: <input type="text" name="pirates[height]">
  Student Weight: <input type="text" name="pirates[weight]">
  <input type="submit">
</form>
