<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h3> The pig latin of <%=params[:newtext]%> is <%=@texte.pigLatin%></h3>
  </body>
</html>
