<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fwitter</title>
 </head>
 <body>
   <h1> Welcome to Fwitter</h1>
   <form method="get" action="/signup">
     <input type="submit" value="Signup">
   </form>

   <br><br>
   <form method="post" action="/">
     <input type="submit" value="Drop Table">
   </form>



 </body>
</html>
